/*****************************************************************************\
  variables
\*****************************************************************************/

@import 'variables/disabled';





/*****************************************************************************\
  colors
\*****************************************************************************/

@import 'colors/black';
@import 'colors/blue';
@import 'colors/dark-grey';
@import 'colors/green';
@import 'colors/grey';
@import 'colors/light-blue';
@import 'colors/light-grey';
@import 'colors/orange';
@import 'colors/red';
@import 'colors/transparent';
@import 'colors/white';





/*****************************************************************************\
  wordpress
\*****************************************************************************/

.page.wordpress-proxy {
  align-content: stretch;

  .wordpress-content {
    flex-grow: 1;

    > .rev_slider_wrapper {
      margin: -2rem -2rem 2rem !important;
      width: calc(100% + 4rem);
    }

    > *:not(.rev_slider_wrapper) {
      margin-left: auto;
      margin-right: auto;
      max-width: 100rem;
    }
  }
}
