{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "preval",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "inline-react-svg"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "preval",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "inline-react-svg",
        [
          "react-remove-properties",
          { "properties": ["data-t"] }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        "preval",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "inline-react-svg"
      ]
    }
  }
}
