{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "inline-react-svg"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "inline-react-svg",
        [
          "react-remove-properties",
          {
            "properties": [
              "data-t",
              "data-tkey"
            ]
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "inline-react-svg"
      ]
    }
  }
}
