{
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "comma-dangle": ["error", "always-multiline"],
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "no-return-assign": false
    },
    "sourceType": "module"
  }
}