$border-color: $green;

button,
.button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.1rem;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 1rem 2rem;
  text-decoration: none;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s;

  &:disabled,
  &.disabled {
    cursor: auto;
    opacity: 0.65;
  }

  &.inline {
    padding: 0;
  }





  // Button styles

  &.danger,
  &.success {
    &:after,
    &:before {
      display: none;
    }
  }

  &.danger {
    background-color: $red;
    border-color: $red;
    color: $white;

    &:hover {
      background-color: #e12e1c;
      border-color: #d62c1a;
    }

    &:disabled,
    &.disabled {
      background-color: $red;
      border-color: $red;
    }
  }

  &.info {
    background-color: #3498db;
    border-color: #3498db;
    color: $white;

    &:hover {
      background-color: #2384c6;
      border-color: #217dbb;
    }

    &:disabled,
    &.disabled {
      background-color: $red;
      border-color: $red;
    }
  }

  &.link {
    background-color: transparent;
    border-color: transparent;
    color: $light-blue;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s;

    &:after,
    &:before {
      width: 0;
    }

    &:hover {
      text-decoration-color: currentColor;
    }
  }

  &.secondary {
    background-color: #444;
    border-color: #444;
    color: $white;

    &:hover {
      background-color: #313131;
      border-color: #2b2a2a;
    }

    &:disabled,
    &.disabled {
      background-color: #444;
      border-color: #444;
    }
  }

  &.success {
    background-color: #00bc8c;
    color: $white;

    &:hover {
      background-color: #009670;
    }

    &:disabled,
    &.disabled {
      background-color: $green;
    }
  }
}
