details {
  flex-shrink: 0;
  width: 100%;

  summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &::-webkit-details-marker {
      display: none;
    }

    &:before {
      border-color: transparent;
      border-style: solid;
      border-width: 1rem;
      border-bottom-width: 0;
      border-top-color: $white;
      content: '';
      display: block;
      height: 0;
      margin-right: 2rem;
      transition: transform 0.2s;
      width: 0;
    }
  }

  &[open] summary:before {
    transform: rotateZ(180deg);
  }
}
