fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &.horizontal {
    flex-direction: row;
  }

  > label {
    font-family: Montserrat, sans-serif;
    font-size: 0.7em;
    text-decoration: underline;
  }

  > footer {
    align-items: center;
    color: $light-grey;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 0.7em;
    justify-content: space-between;
    letter-spacing: initial;
    margin-top: 1rem;

    > .options {
      margin-right: auto;

      li {
        margin-left: 1rem;
      }
    }

    > .filters {
      margin-left: auto;
    }
  }
}