form {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 20% auto;
  padding: 2rem;

  input[aria-label],
  menu {
    grid-column-end: -1;
    grid-column-start: 1;
  }

  menu {
    padding: 0;
  }
}
