h1, h2, h3,
h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;

  a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  sup {
    font-size: 0.5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translateY(-1em);
    white-space: nowrap;
  }
}

h1 {
  font-size: 4rem
}

h2 {
  font-size: 3rem;
}

h3 {
  color: $white-darkened;
  font-size: 1.25em;
}