header {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;

  menu[type=toolbar] {
    padding: 0;

    button {
      padding: 0 2rem;
    }
  }
}