input,
select,
textarea {
  appearance: none;
  background-color: $white;
  border: none;
  border-radius: 0;
  color: $black;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none;
  padding: 0.5rem 1rem;
  resize: vertical;
  transition: background-color 0.2s;
  width: 100%;

  &[type=number] {
    width: auto;
  }

  // &:hover:not(:focus):not([readonly]) {
  //   background-color: rgba($white, 0.1);
  // }

  &[readonly] {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    user-select: none;
  }

  &[disabled] {
    background-color: $disabled-background-color;
    cursor: not-allowed;

    &,
    &::placeholder {
      color: $disabled-text-color;
    }
  }
}

select {
  cursor: pointer;
}
