input,
select,
textarea {
  appearance: none;
  background-color: transparent;
  border-color: $white;
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none;
  padding: 0;
  resize: vertical;
  transition: background-color 0.2s;

  &[type=number] {
    width: auto;
  }

  &:hover:not(:focus):not([readonly]) {
    background-color: rgba($white, 0.1);
  }

  &[readonly] {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
}

select {
  cursor: pointer;
}
