menu {
  display: flex;
  flex-shrink: 0;
  padding: 2rem;

  &.compact {
    padding: 0;

    &:not(.fulltext) {
      font-size: .8em;
    }

    button,
    .button {
      padding: 0 1rem;
    }
  }

  > .primary,
  > .secondary {
    display: flex;
  }

  > .primary {
    margin-right: auto;
    order: 1;

    > *:not(:last-child) {
      margin-right: 1rem
    }
  }

  > .secondary {
    margin-left: auto;
    order: 2;

    > *:not(:first-child) {
      margin-left: 1rem
    }
  }
}
