progress {
  appearance: none;
  background-color: $light-grey;
  border: none;
  height: 0.5rem;
  position: relative;
  width: 100%;

  &::-moz-progress-bar {
    background-color: $green;
    box-shadow: 0 0 2rem 0 rgba($green, 0.7);
  }

  &::-webkit-progress-bar {
    background-color: $light-grey;
  }

  &::-webkit-progress-value {
    background-color: $green;
    box-shadow: 0 0 2rem 0 $green;
  }
}
