.page.edit-profile {
  .page-content {
    grid-template-areas:
      'userdetails bio'
      'userdetails email'
      'userdetails password'
      'userdetails submit';

    .user-details .user-details-card {
      .user-image-wrapper {
        border: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        border: 0.5rem solid $green;
        border-radius: 50%;

        .user-image.wrapped {
          border: none;
          border-radius: 0;
        }

        .user-image-edit-overlay {
          background: rgba($black, .5);
          color: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity .2s ease;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .profile-section .section-content.editor-toggle {
      transition:
        background .2s ease,
        border-color .2s ease;
      cursor: pointer;
      position: relative;

      &:after {
        content: 'Edit';
        background: rgba($dark-grey, .95);
        position: absolute;
        padding: 0 2rem;
        top: 0;
        right: 0;
        transition: opacity .1s ease;
        opacity: 0;
      }

      &:hover {
        --content-background: rgba($green, 0.35);
        --content-border: 1px solid $green;

        &:after {
          opacity: 1;
          z-index: 5000;
        }
      }
    }

    .profile-section .section-content.editor {

      input {
        margin-bottom: 1rem;
      }
    }

    .user-email {
      grid-area: email;
    }

    .user-password {
      grid-area: password;
    }

    .save-button {
      grid-area: submit;

      button {
        float: right;
      }
    }
  }
}
