.page.home {
  .hero {
    background-image:
      url(/static/images/logo.white.svg),
      url(/static/images/dice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    flex-shrink: 0;
    height: 50vh;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
