.page.home {
  .hero {
    background-image:
      url(/static/images/logo.white.svg),
      url(/static/images/dice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    flex-shrink: 0;
    height: 50vh;
    margin-left: -2rem;
    margin-left: calc(-2rem - env(safe-area-inset-left));
    margin-right: -2rem;
    margin-right: calc(-2rem - env(safe-area-inset-right));
  }
}
