.page {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

  > header {
    font-size: 2em;
    padding: 2rem;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
