.page {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
