.page.roadmap {
  > p {
    margin-bottom: 2rem;
  }

  ol {
    margin-top: 4rem;
  }

  li {
    background-color: $black;
    padding: 2rem;
    position: relative;

    .progress-container {
      align-items: center;
      display: flex;
      margin-bottom: 2rem;
      margin-top: 2rem;
      position: relative;

      .completion-percentage {
        background-color: $green;
        font-family: Montserrat, sans-serif;
        font-size: 0.5em;
        font-weight: bold;
        padding: 0 1rem;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
