.ability-score {
  align-items: center;
  background-color: rgba(grey, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  label {
    text-align: center;
  }

  .score {
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;

    > {
      input,
      span {
        -moz-appearance: textfield;
        background-color: transparent;
        border: none;
        font-size: 2em;
        text-align: center;
        width: 2em;
      }
    }

    .modifier-container {
      display: flex;
      flex-direction: column;
      left: 100%;
      line-height: 1;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);

      label {
        font-size: 0.75em;
      }

      .modifier {
        font-weight: bold;
      }
    }
  }

  .breakdown {
    display: grid;
    font-size: 0.75em;
    grid-template-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    text-align: center;

    .base,
    .other,
    .racial,
    .total {
      display: flex;
      flex-direction: column;

      &:after {
        font-size: 0.75em;
      }
    }

    .base:after { content: "Base" }
    .other:after { content: "Other" }
    .racial:after { content: "Racial" }
    .total:after { content: "Total" }

    .total {
      font-weight: bold;
    }
  }
}
