.ability-score {
  background-color: rgba(grey, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem;

  label {
    text-align: center;
  }

  .score {
    -moz-appearance: textfield;
    background-color: transparent;
    border: none;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }

  .breakdown {
    display: grid;
    font-size: 0.75em;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

    .base,
    .other,
    .racial,
    .total {
      display: flex;
      flex-direction: column;

      &:after {
        font-size: 0.75em;
      }
    }

    .base:after { content: "Base" }
    .other:after { content: "Other" }
    .racial:after { content: "Racial" }
    .total:after { content: "Total" }

    .total {
      font-weight: bold;
    }
  }
}
