label[for=application-banner-control] {
  align-items: center;
  display: flex;
  left: 100%;
  margin-left: 2rem;
  margin-left: calc(2rem + env(safe-area-inset-left));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
  transition:
    margin-left 0.2s,
    opacity 0.2s;
  z-index: 1;

  @media (max-width: 1000px) {
    &[data-openNav] {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

#application-banner-control {
  @media (max-width: 1000px) {
    ~ [role=banner] {
      bottom: 0;
      position: fixed;
      right: 100%;
      top: 0;
      transition: transform 0.2s;
      z-index: 1002;
    }

    &:checked ~ [role=banner] {
      transform: translateX(100%);

      [data-closeNav] {
        margin-left: 2rem;
        opacity: 1;
        pointer-events: initial;
      }
    }

    &:checked ~ [role=banner] {
      transform: translateX(100%);

      [data-openNav] {
        margin-left: 2rem;
        opacity: 0;
        pointer-events: none;
      }

      [data-closeNav] {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}
