.card {
  --padding-width: 2rem;
  background-color: #303030;
  border-radius: 0.25rem;
  overflow: hidden;

  &.compact {
    --padding-width: 1rem;
  }

  > header {
    background-color: #444;
    font-family: Montserrat, sans-serif;
    padding: 0 var(--padding-width);

    .title *:not(:first-child) {
      padding-left: calc(var(--padding-width) / 2);
    }
  }

  > .content {
    padding: var(--padding-width);
    align-items: center;
  }

  > footer {
    background-color: #444;
    menu {
      .button,
      button {
        border-radius: 0;
      }
    }
  }
}
