.chooser {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
  grid-gap: 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  li {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-grow: 1;

    button {
      background-color: $black;
      border-color: $green;
      border-style: solid;
      border-width: 0;
      border-left-width: 0.1rem;
      border-right-width: 0.1rem;
      overflow: hidden;
      position: relative;
      flex-grow: 1;

      &:after,
      &:before {
        background-color: $border-color;
        content: '';
        height: 1px;
        position: absolute;
        transition: width 0.2s;
        width: 100%;
      }

      &:after {
        bottom: 0;
        right: 0;
      }

      &:before {
        left: 0;
        top: 0;
      }

      &.inactive {
        opacity: 0.6;

        &:after,
        &:before {
          width: 0;
        }
      }

      &:active,
      &:focus,
      &:hover,
      &.active {
        background-color: rgba($green, 0.1);

        &:after,
        &:before {
          width: 100%;
        }
      }

      &.active {
        background-color: $green;
        color: $black;
      }
    }
  }

  &.list {
    display: flex;
    flex-direction: column;

    li {
      background-color: $black;
      border-left-color: $black;
      border-left-style: solid;
      border-left-width: 0.1rem;
      cursor: pointer;
      padding: 2rem;
      transition:
        border-left-color 0.2s,
        opacity 0.2s;
      width: 100%;

      label {
        cursor: pointer;
      }

      &.active,
      &:hover {
        border-left-color: $green;
      }

      &.inactive {
        border-left-color: $black;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
