div.dialog-wrapper {
  z-index: 301;
  &.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &.lights-off {
      background: rgba($black, .85)
    }

    > div {
      margin-top: 4rem;
      background: $grey;
      padding: 2rem;
      border-radius: 10px;
      min-width: 500px;
    }
  }

  &.popup {
    position: absolute;
  }
}
