nav.floaty {
  background-color: $black;
  border-color: $light-grey;
  border-style: solid;
  border-width: 1px;
  float: right;
  font-size: 0.7em;
  margin-bottom: 2rem;
  margin-left: 2rem;
  max-width: 20vw;
  padding: 1rem;
}

.floaty-nav-wrapper {

}