.input-group {
  align-content: stretch;
  align-items: stretch;
  color: $light-grey;
  display: flex;
  transition: color 0.2s;

  > label {
    background-color: $white;
    padding: 0.5rem 1rem;
  }

  > input {
    background-color: $white;
    flex-shrink: 1;
  }

  > button,
  > .button {
    border-radius: 0;
    padding: 0.5rem 1rem;
  }

  > .input-group:not(:last-child) {
    margin-right: 1rem;
  }

  > :first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  > :last-child {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  > :not(:first-child) {
    border-left-color: $light-grey;
    border-left-style: solid;
    border-left-width: 0.1rem;
    flex-grow: 1;
  }

  &.disabled {
    cursor: not-allowed;
    button,
    input,
    label {
      background-color: $disabled-background-color;
      color: $disabled-text-color;
      opacity: 1;
    }
  }
}
