.map-marker-label {
  background-color: $black;
  border-color: $green;
  border-style: solid;
  border-width: 0.1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;

  &:after {
    border-color: transparent;
    border-style: solid;
    border-width: 1rem;
    border-bottom-width: 0;
    border-top-color: $black;
    content: '';
    display: block;
    left: 1rem;
    height: 0;
    position: absolute;
    top: calc(100% - 1rem - 1px);
    width: 0;
  }
}