header.page {
  background-color: $black;
  display: grid;
  grid-area: page-header;
  grid-template-areas:
    'title aside'
    'navigation navigation';
  grid-template-columns: 1fr max-content;
  height: min-content;
  padding: 1rem 2rem;
  padding-left: calc(2rem + env(safe-area-inset-left));
  padding-right: calc(2rem + env(safe-area-inset-right));
  position: sticky;
  top: 0;
  z-index: 1;

  aside {
    grid-area: aside;
  }

  label[for=application-banner-control] {
    display: none;
    grid-area: application-banner-control;
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
  }

  nav {
    font-family: Montserrat, sans-serif;
    grid-area: navigation;

    &:empty {
      display: none;
    }

    a {
      text-decoration-color: $transparent;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: $green;
      }
    }

    li:not(:last-child) {
      margin-right: 1rem;
    }

    ul {
      display: flex;
    }
  }

  @media (max-width: 1000px) {
    grid-template-areas:
      'application-banner-control title'
      'aside aside';
    grid-template-columns: max-content 1fr;

    label[for=application-banner-control] {
      display: initial;
    }

    aside {
      background-color: #1a1a1a;
      margin: 1rem -2rem -1rem;
      padding: 1rem 2rem;
      width: calc(100% + 4rem);
    }
  }
}
