div.validated-input.password-input {
  display: flex;

  button.show-password {
    background: $white;
    border-radius: 0;
    border-left: 0.1rem solid #999;
    color: $black;
    padding: 0rem 1rem;
  }

  meter.strength-meter {
    appearance: none;
    background-image: none;
    height: 0.5rem;
    top: calc(100% - 0.5rem);
    pointer-events: none;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s;

    &[value="0"] {
      background-image: linear-gradient(
        to right,
        $red 20%,
        $transparent 20%
      );
    }

    &[value="1"] {
      background-image: linear-gradient(
        to right,
        $red 40%,
        $transparent 40%
      );
    }

    &[value="2"] {
      background-image: linear-gradient(
        to right,
        $orange 60%,
        $transparent 60%
      );
    }

    &[value="3"] {
      background-image: linear-gradient(
        to right,
        $orange 80%,
        $transparent 80%
      );
    }

    &[value="4"] {
      background-color: $green;
    }
  }

  input:focus ~ meter.strength-meter {
    opacity: 1;
  }
}
