.profile {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: 'header details';
  grid-template-columns: minmax(25rem, min-content) auto;

  > header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    grid-area: header;

    .avatar {
      align-self: center;
    }

    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  > .details {
    grid-area: details;
  }

  section > .section-content {
    margin-left: 2rem;
  }

  @media (max-width: 700px) {
    grid-template-areas:
      'header'
      'details';
    grid-template-columns: 1fr;
  }
}
