.settings-panel {

  .error-box {
    max-width: 80rem;
    margin-bottom: 2rem;
  }

  fieldset .fieldset-input {
    margin-left: 1rem;

    input,
    textarea {
      margin-bottom: 1rem;
    }
  }
}
