.static-map {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  + footer {
    background-color: $black;
    line-height: 1.5;
    padding: 1rem;
  }
}
