.static-map {
  height: 50rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    height: 128rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 128rem;
  }
}