.multi-step {
  ol.progtrckr {
    align-content: stretch;
    display: flex;

    li {
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      position: relative;
      white-space: nowrap;

      em {
        display: none;
      }

      &:after {
        background-color: $white;
        border-color: $black;
        border-style: solid;
        border-width: 0.2rem;
        border-radius: 100%;
        bottom: -0.5rem;
        content: '';
        height: 0.8rem;
        left: 0;
        position: absolute;
        transition-duration: 0.5s;
        transition-property: background-color;
        width: 0.8rem;
      }

      &:before {
        background-color: $black;
        bottom: 0;
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        transition-duration: 0.5s;
        transition-property: width;
        width: 0;
      }

      &.progtrckr-done {
        &:after {
          background-color: $green;
        }

        &:before {
          width: 100%;
        }
      }
    }
  }
}
