.wizard {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  > {
    .progress-tracker {
      align-content: stretch;
      background-color: $black;
      border-color: $light-grey;
      border-style: solid;
      border-bottom-width: 1px;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 0;
      overflow-x: auto;
      padding: 2rem;
      position: relative;

      .step-title {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: center;
        position: relative;

        span {
          display: none;
        }

        &:after {
          background-color: $white;
          border-color: $white;
          border-style: solid;
          border-width: 0.2rem;
          border-radius: 100%;
          content: '';
          height: 0.8rem;
          left: 50%;
          transition: background-color 0.5s;
          width: 0.8rem;
          z-index: 1;
        }

        &:before {
          background-color: $white;
          content: '';
          height: 0.2rem;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translate(50%, -50%);
          transition:
            box-shadow 0.2s,
            transform 0.2s,
            width 0.2s;
          width: 0;
        }

        &:first-child:before {
          transform: translate(0, -50%);
          width: 50%;
        }

        &.current {
          &:after {
            box-shadow: 0 0 1rem 0 $green;
          }
        }

        &.done {
          &:after {
            background-color: $green;
          }

          &:before {
            width: 100%;
          }

          &:first-child:before {
            width: 150%;
          }
        }
      }

      &:before {
        background-color: $dark-grey;
        content: '';
        height: 0.2rem;
        left: 2rem;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .step {
      flex-grow: 1;
      overflow: auto;
      padding: 2rem;
    }

    menu {
      .primary {
        margin-left: auto;
        margin-right: 0;
        order: 2;
      }

      .secondary {
        margin-left: 0;
        margin-right: auto;
        order: 1;
      }
    }
  }
}
